
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: #fff;
    width: 100%;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex ;
    justify-content: space-between;
    background-color: #148214fc;
}
.container span{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
.link a{
  text-decoration: none;
  margin-right: 3rem;
  font-family: sans-serif;
  color: white;
}

.section1{
   width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    
}
.one{
    width: 100%;
   
}
.one .welcome{
    font-family: sans-serif;
    font-size: 2rem;
    color: rgb(181, 108, 24);
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 4rem;
    padding-bottom: 1rem;
    display: inline-block;
}
.deco{
    margin-left: 16rem;
}
.decoOne{
    position: relative;
    top: -3rem;
}

.decoTwo{
    margin-left: 23rem;
}
.decoThree{
    margin-left: 35rem;
    margin-top: -1rem;
}

.one h1 {
    color: white;
    height: 10rem;
    padding-top: 2rem;
    font-family: sans-serif;
    font-size: 5rem;
    text-align: center;
   
    background: linear-gradient(to left, rgb(9, 77, 9),rgb(41, 216, 41));
}
.one .contact{
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    color: green;
    letter-spacing: 3px;
    margin-top: 2rem;
}
.liens{
    text-align: center;
    margin-top: 1rem;
     
}
.liens i{
    color: green;
    padding-left: 2rem; 
}
.liens i:hover{
    opacity: 0.7;
}
.liens span{
    color: brown;
    padding-left: 1rem;
}
.points1{
    margin-left: 30rem;
    margin-top: 1rem;
}
.points2{
    margin-top: 3rem;
}
.form-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-box {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    width: 33%;
    margin: 6rem auto;
    box-shadow: 0 0 13px gray;

}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 0.9rem;
    color: #7f8c8d;
    margin-bottom: 8px;
    display: block;
}

input, select {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: brown;
    color: #fff;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    opacity: 0.5;
}
